{
 oceans-eleven/schema :txes [[
                              {
                               :db/ident       :trip/title
                               :db/valueType   :db.type/string
                               :db/cardinality :db.cardinality/one
                               :db/doc         "The name of the trip" u
                               }
                              ]]
 }

